.app-container {
  background: linear-gradient(
    90deg,
    rgb(15, 35, 114) 0%,
    rgb(94, 94, 185) 35%,
    rgb(124, 179, 190) 100%
  );
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .formulario {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 28rem;
    padding: 2.8rem 1.5rem;
    border-radius: 11px;
    h1 {
      font-size: 3em;
      color: black;
      margin-bottom: 2rem;
    }
    .login-image {
      height: 7rem;
      width: 7rem;
      border-radius: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
      transition: 0.3s;
      margin-bottom: 0.5rem;
    }
  }
}
