.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .contenido {
    display: flex;
    width: 100%;
    height: 100%;
    .filtros-container-app {
      margin: 2rem;
      width: 18rem;
      height: 80%;
    }
  }
}
